$main_bg_color:rgba(26, 23, 61, 1);
$main_purple:rgba(81, 51, 166, 1);
$main_orange:rgba(226, 83, 0, 1);
$main_white:rgba(255, 255, 255, 1);
$purple_gradient_base: rgb(133, 100, 187);
$purple_gradient: linear-gradient($purple_gradient_base 0%, rgb(102, 44, 197) 85%);
$orange_gradient_base: rgb(245, 194, 146);
$orange_gradient: radial-gradient($orange_gradient_base 25%, rgb(241, 150, 65) 85%);

