<section id="gallery" class="container gallery-container"><h2 class="gallery__title">Enjoy Our Gallery</h2>
    <p class="gallery__subtitle">Do not be shy to review and like the photos</p>
    
        <ul class="gallery__img-conteiner" >
            <li class="gallery__item">
                <img
                src="./img/g1.png"
                srcset="./img/g1.png 1x, ./img/g1@2.png 2x"
                class="image"
                alt="Enjoy Our Gallery"
                loading="lazy"
              />
            </li>
            <li class="gallery__item">
                <img
            src="./img/g2.png"
            srcset="./img/g2.png 1x, ./img/g2@2.png 2x"
            class="image"
            alt="Enjoy Our Gallery"
            loading="lazy"
          />
            </li>
            <li class="gallery__item">
                <img
                src="./img/g3.png"
                srcset="./img/g3.png 1x, ./img/g3@2.png 2x"
                class="image"
                alt="Enjoy Our Gallery"
                loading="lazy"
              />
            </li>
            <li class="gallery__item">
                <img
                src="./img/g4.png"
                srcset="./img/g4.png 1x, ./img/g4@2.png 2x"
                class="image"
                alt="Enjoy Our Gallery"
                loading="lazy"
              />
            </li>
            <li class="gallery__item">
                <img
                src="./img/g5.png"
                srcset="./img/g5.png 1x, ./img/g5@2.png 2x"
                class="image"
                alt="Enjoy Our Gallery"
                loading="lazy"
              />
            </li>
            <li class="gallery__item">
                <img
                src="./img/g6.png"
                srcset="./img/g6.png 1x, ./img/g6@2.png 2x"
                class="image"
                alt="Enjoy Our Gallery"
                loading="lazy"
              />
            </li>
        </ul>
    </section>
