<header class="header">
    <div class="container header__container" > 
        <div class="header__logo">
        <a href="./index.html" class="menu__link" aria-label="Home Page">
          <picture class="header__logo-img">
            <source
              srcset="./img/header-logo.png 1x, ./img/header-logo2x.png 2x"
              media="(min-width: 320px) and (max-width: 1200px)"
            />
            <img
              src="./img/header-logo.png"
              srcset="./img/header-logo2x.png 2x"
              alt="Catademy logo"
              loading="lazy"
            />
          </picture>
        </a>
        <a href="./index.html" class="header__logo-text menu__link" aria-label="Home Page">Catademy</a>
      </div>
      <input id="menu-toggle" type="checkbox" class="menu__toggle" />
      <label class="menu__button-container" for="menu-toggle" aria-label="Menu">
        <div class="menu__button"></div>
      </label>  
      <ul class="menu">
        <li class="menu__item"><a class="menu__link" href="#advantages">About</a></li>
        <li class="menu__item"><a class="menu__link" href="#contacts">Contacts</a></li>
        <li class="menu__item"><a class="menu__link" href="#lessons">Lessons</a></li>
        <li class="menu__item"><a class="menu__link" href="#gallery">Gallery</a></li>
        <li class="menu__item">
          <button class="menu__link menu__link--button" type="button">Subscribe</button>
        </li>
      </ul></div>
    
  </header>
  