<section id="contacts" class="container ">
    <div class="info_container">
    <div >
        <ul class="info_stats">
            <li>
                <div class="stat__item">
                  <p class="stat__item-title">Students</p>
                  <div class="stat__item-icon stat__item-icon--students"></div>
                  <p class="stat__item-value">8500+</p>
                </div>                
              </li>
              <li>
                <div class="stat__item">
                  <p class="stat__item-title">Lessons</p>
                  <div class="stat__item-icon stat__item-icon--lessons"></div>
                  <p class="stat__item-value">200+</p>
                </div>
              </li>
              <li>
                <div class="stat__item">
                  <p class="stat__item-title">Likes</p>
                  <div class="stat__item-icon stat__item-icon--likes"></div>
                  <p class="stat__item-value">99k+</p>
                </div>
              </li>
        </ul>
    </div>
    <div class="comment-slider">
    
        <input type="radio" name="slider" id="comment1" checked>
        <input type="radio" name="slider" id="comment2" >
        <input type="radio" name="slider" id="comment3">
      
      
        <div class="comment-slider__track">
          <div class="comment">
            <img src="img/avatar1.png" alt="Avatar" class="comment__image">
            <div class="comment__info">
              <p class="comment__info-title ">John Doe</p>
              <p class="comment__info-text">It was really cool experience, I love it so much!</p>
            </div>
          </div>
      
          <div class="comment">
            <img src="img/avatar2.png" alt="Avatar" class="comment__image">
            <div class="comment__info">
              <p class="comment__info-title ">Sarah Smith</p>
              <p class="comment__info-text">I’ve really enjoyed the lessons and the videos are so fun! I’ll recommend it to my friends!</p>
            </div>
          </div>
      
          <div class="comment">
            <img src="img/avatar3.png" alt="Avatar" class="comment__image">
            <div class="comment__info">
              <p class="comment__info-title ">Sam Kollins</p>
              <p class="comment__info-text">Every day I’m trying to find some time and watch few lessons. It’s hilarious! </p>
            </div>
          </div>
        </div>
      
        <div class="comment-slider__dots">
          <label for="comment1" class="dot"></label>
          <label for="comment2" class="dot"></label>
          <label for="comment3" class="dot"></label>
        </div>
      </div>
    </section>