<section id="advantages" class="container intro_container">
    
  <div class="intro__image"><picture>
    <source
      srcset="./img/intro.png 1x, ./img/intro2x.png 2x"
      media="(min-width: 320px) and (max-width: 1200px)"
    />
    <img
      src="./img/intro.png"
      srcset="./img/intro2x.png 2x"
      alt="Intro Img"
      loading="lazy"
    />
  </picture>
  </div>      
  
          <div class="intro__content">
            <h1 class="intro__title">Your puRRRfect educator</h1>
            <div class="intro__subtitle">
                <picture class="intro__subtitle-image">
                    <source
                      srcset="./img/intro_subtitle.png 1x, ./img/intro_subtitle2x.png 2x"
                      media="(min-width: 320px) and (max-width: 1200px)"
                    />
                    <img
                      src="./img/intro_subtitle.png"
                      srcset="./img/intro_subtitle2x.png 2x"
                      alt="Intro Subtitle"
                      loading="lazy"
                    />
                  </picture>
                 <p class="intro__subtitle-text">Let’s study, watch cool content and just have some fun together</p>
            </div>
            <div class="intro__button-container">
             <button class="intro__button">Subscribe </button>
             <button class="intro__button" type="button"><span class="intro__button-icon"></span>Watch intro</button>
            </div>
          </div>
    
   
</section>