<section id="subscribe" class="container">
    <div class="subscribe__conteiner" >
        <img
        src="./img/sub.png"
        srcset="./img/sub.png 1x, ./img/sub@2.png 2x"
        class="subscribe__image"
        alt="subscribe"
      />
        <div class="subscribe__text-container">
            <h2 class="subscribe__title">You are in great paws!</h2>
            <p class="subscribe__subtitle"
            data-full="Subscribe to get more information about upcoming courses and new videos. You will also get an opportunity to share with other users your unique knowledge by writing articles and posting video lessons!"
            ></p>
        </div>
        <div class="subscribe__input"> 
             <input
            type="email"
            class="subscribe__email"
            placeholder="Your email address"
            required
          />
          <button type="submit" class="subscribe__button">
            Subscribe
          </button> </div>
    </div>
</section>